    <header class="intro-header" style="background-image: url('img/table.jpg')">
        <div class="container overlay">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>FundR user profile</h1>
                        <hr class="small">
                        <span class="subheading">View your trip details<br>by <a href="#">FundR</a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container-fluid container-90">
        <div class="row">
          hello world
    </div>

    